body, html {    
    height: 100%;
    margin: 0;
}
body, td, a, p, .h {
    font-family: arial,sans-serif;
    display: block;
}

a {
    text-decoration: none;
}

#ur_nav {
    float: right;
}

#ul_nav {
    float: left;
}

#u_nav div, #ul_nav a, #ur_nav a {
    display: inline-block;
    padding-left: 13px;
    padding-top: 12px;
    color: #000;
    opacity: 1;
    font-size: 13px;
}

a {
    color: #000;
    text-decoration: none;
}